/*
  Hexadecimal
    La notación hexadecimal es la más común en desarrollo web, se basa en los mismos principios que el RGB pero escrito en notación hexadecimal.

    El sistema hexadecimal es un sistema basado en 16 valores del 0 al 15
    Utiliza los dígitos del 0 al 9 y las letras de la A a la F

    En este tipo de notacíon también necesitamos 256 valores.

    Se compone de 16 caracteres en parejas ya que 16*16 = 256
    0 1 2 3 4 5 6 7 8 9 A B C D E F
    0 1 2 3 4 5 6 7 8 9 A B C D E F

    Para indicar que vamos a usar notación hexadecimal debemos usar el símbolo de hash/almohadilla # y a continuación usaremos esta notación por parejas.
    #RRGGBB
    Cuando una pareja usa el mismo valor se puede omitir el segundo valor, siempre que se haga en las 3 parejas.

    rgb(255,255,255) -> #FFFFFF -> #FFF
    rgb(0,0,0) -> #000000 -> #000

    También tenemos la opción de usar transparencias en hexadecimal añadiendo un cuarto canal que sigue las mismas normas.

    rgb(0 0 0 / .5) -> #00000080 ~> #0007
*/

body {
  background-color: mediumorchid;
}

.main {
  /* color: aquamarine; */
  /* background-color: currentColor; */
}

.box {
  width: 200px;
  height: 200px;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 0.5);
}
