/*
    Sticky -> Es una mezcla de position relative y "fixed".
    Con este tipo de posicionamiento los valores top, left, bottom y right no sirven para mover el elemento, si no para indicarle en qué punto pasará a tener un comportamiento de posicionamiento similar a fixed, hasta llegar a ese punto se comportará como si no tuviera posicionamiento, aunque sí contará como posicionado si necesitáramos colocar otro elemento respecto a él (absolute)
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #333;
  color: #fff;
  padding-top: 70px;
}

img {
  width: 100%;
  display: block;
}

.header {
  text-align: center;
  /* padding: 25px 0; */
  background-color: lightskyblue;
  color: orangered;
}

.menu{
  position: sticky;
  top: 0;
}