/*
   Espaciado en fuentes y textos
    letter-spacing: Establece la separación entre caracteres, se puede establecer en cualquier medida válida para CSS

    word-spacing: Establece la separación entre palabras,
    se puede establecer en cualquier medida válida para CSS

    line-height: Establece el alto de cada línea, se puede dar una medida concreta o se puede poner un número que se multipliará por el font size del texto al que se lo estemos aplicando.

   Orientación del texto.
   writing-mode: Establece la dirección del texto
*/

@font-face {
  font-family: "Mano alzada";
  src: local("Great Vibes"), url("../assets/fonts/GreatVibes-Regular.ttf");
}

body {
  background-color: #333;
  color: aliceblue;
  font-family: sans-serif;
}

.text {
  text-transform: uppercase;
}

.word-container {
  background-color: lightcoral;
  height: 100px;
  text-align: center;
}

.word {
  line-height: 100px;
}
