/*
  Google Icons
    Material Icons
       https://fonts.googleapis.com/css?family=Material+Icons
    Material Icons Outlined
       https://fonts.googleapis.com/css?family=Material+Icons+Outlined
    Material Icons Two Tone
       https://fonts.googleapis.com/css?family=Material+Icons+Two+Tone
    Material Icons Rounded
       https://fonts.googleapis.com/css?family=Material+Icons+Round
    Material Icons Sharp
       https://fonts.googleapis.com/css?family=Material+Icons+Sharp

    Nota: Si vas a usar una gran cantidad de iconos en tu web compensa usar la librería remota
    Si sólo usarás unos pocos es mejor descargarlos en formato svg y utilizarlos como imágenes
*/

body {
  background-color: #333;
  color: aliceblue;
}

.icon{
  font-size: 2rem;
  color: red;
}