/*
  RGB/RGBA
    En el modo RGB tenemos tres canales (Red, Green, Blue) y tenemos 8 bits de color por canal, (cada bit tiene dos posibles valores 0 ó 1) lo que significa que tenemos 2^8 posibles valores, que van desde 0 hasta 255.

    Esto nos da un total de 255 * 255 * 255 = 16.581.375 colores.

    Su sintaxis es rgb(R,G,B)

    Si ponemos todos los canales a 0 tendremos un negro puro y si los ponemos a 255 tendremos un blanco.

    Para movermos por la gama de grises debemos poner los 3 canales con el mismo valor, si ponemos los 3 canales a 128 tendremos el gris puro.

    El modo RGB nos da la opción de utilizar un cuarto canal que correspondería al canal alpha, es decir, la transparencia, y su valor va desde 0 a 1. Tenemos dos sintaxis para utilizar el canal aplha
      rgba(R,G,B,A)
      rgb(R G B / A)
*/

body {
  background-color: #333;
  color: #333;
}

.main {
  /* color: aquamarine; */
  /* background-color: currentColor; */
}

.box {
  width: 200px;
  height: 200px;
  background-color: rgb(12, 139, 80);
}
